:ruby
  entries = Entry.search 'deferred'

.page-c52

  .top
    .menu
      = link_to "词条列表", "/b2"

  .page-search-list
    - entries.each do |entry|
      .item
        .title= link_to entry.title, "/c53?id=#{entry.id}"
