:ruby
  entries = Entry.all
  search_entries = entries[2..5]

.page-c52

  .top
    = render "/a1/parts/nav"


  .page-search-list
    - search_entries.each do |entry|
      .item
        .title= link_to entry.title, "/c53"
