.page-item-list.page-e1
  .page-my-notebook-list
    .header
      %h1 我的笔记本列表
    .content.notebooks
      - @notebooks.each do |nihao|
        .list-item.notebook
          .title=link_to nihao.title, 'javascript:;'
