- @notebooks = Notebook.all

= page_top_nav(1)

.page-item-list.page-e1
  .page-my-notebook-list
    .notebooks
      - @notebooks.each_with_index do |notebook, index|
        - id = index + 1
        .item.notebook
          .img
          .title=link_to notebook.title, "/e2?id=#{id}"
