.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 教学工作台: 帮助老师处理日常工作
    %br/
  %p
    %strong 必要性:
    在教学工作中, 老师常需要并行处理多门课程的备课, 批改作业, 答疑等任务, 为了防止顾此失彼, 老师需要花额外的时间和精力惦记和回顾教学日程表. 在这种情况下, 老师会自然地想到: 如果能够在日常工作中通过技术手段辅助, 直接把教学日程上优先的课程提醒我一下, 就不必担心自己会忽略教学日程表上的下一门课程了.
    %br/
  %p
    %strong 功能:
    系统专设了教学工作台满足老师的需要, 其中专门设置了与院系教学安排同步的近期课程栏目, 一目了然地列出了所有近期需要处理的课程. 老师每次登录系统或返回个人主页时, 都能一眼看到它们, 无形中起到了提醒作用. 如果老师希望查看完整的课程表, 系统也有专门的页面可以满足他的要求.
    %br/
  %p
    除了日程提醒之外, 老师还能通过教学方案, 问答, 资源统计等栏目, 轻松看到自己所参与课程的教学方案的编辑进度, 问答互动处理进度, 个人的知识贡献度等信息. 软件界面可通过以下的截图看到:
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_01_pasted_image.png"}/
    %br/
  / End wiki content