.heading
  %h1 02-教学方案录入
%hr/
.menu
  %ul
    %li
      %a.page{:href => "../../01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "../../02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "../../03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "../../04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "../../05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "../../06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %ul
      %li
        %a.page{:href => "../01.html", :title => "01-系统功能综述"} 01-系统功能综述
      %ul
        %li
          %a.page{:href => "./01.html", :title => "01-教学工作台"} 01-教学工作台
        %li
          %strong.activepage 02-教学方案录入
        %li
          %a.page{:href => "./03.html", :title => "03-Office文档的在线即时处理"} 03-Office文档的在线即时处理
        %li
          %a.page{:href => "./04.html", :title => "04-多媒体课件的在线即时播放"} 04-多媒体课件的在线即时播放
        %li
          %a.page{:href => "./05.html", :title => "05-作业完成度的图形化展现"} 05-作业完成度的图形化展现
        %li
          %a.page{:href => "./06.html", :title => "06-师生问答互动"} 06-师生问答互动
        %li
          %a.page{:href => "./07.html", :title => "07-教学贡献度统计"} 07-教学贡献度统计
        %li
          %a.page{:href => "./08.html", :title => "08-教学资源利用率的可视化展现"} 08-教学资源利用率的可视化展现
        %li
          %a.page{:href => "./09.html", :title => "09-杂项功能"} 09-杂项功能
      %li
        %a.page{:href => "../02.html", :title => "02-系统部署方式"} 02-系统部署方式
    %li
      %a.page{:href => "../../07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 教学方案 : 帮助老师有效组织课程知识点和课件资源
    %br/
  %p
    %strong 必要性:
    当老师开始讲一门新课之前, 一般需要准备一份教学方案, 把要讲的知识划分为若干个教学章节, 并辅以讲义PPT, 视频课件等等. 在创建这个方案时, 老师经常要花一些与讲课内容无关的脑力把讲义PPT, 视频课件与教学要点有序地组织和匹配起来. 在这种情况下, 老师会自然地想到: 如果必须花时间组织这些内容, 那么最好能一次编辑/整理, 办公室, 课堂和家里的电脑上都能保持一致.
    %br/
  %p
    %strong 功能:
    为了满足这个需求, 我们的系统为老师提供了统一的教学方案管理界面, 老师可以在网页上直接创建教学方案, 然后分出若干个教学章节, 最后把讲义PPT, 视频课件等以附件形式放进对应的章节中. 如果某个讲义PPT或视频课件, 在老师的个人知识库里已经存在, 还可以直接引用它, 实现知识成果的重复利用.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/02-%E6%95%99%E5%AD%A6%E6%96%B9%E6%A1%88%E5%BD%95%E5%85%A5/pasted_image.png"}/
    %br/
    \----
    %br/
    %img{:alt => "", :src => "/html_demo_png/06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/02-%E6%95%99%E5%AD%A6%E6%96%B9%E6%A1%88%E5%BD%95%E5%85%A5/pasted_image001.png"}/
    %br/
  / End wiki content
