.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 教学方案 : 帮助老师有效组织课程知识点和课件资源
    %br/
  %p
    %strong 必要性:
    当老师开始讲一门新课之前, 一般需要准备一份教学方案, 把要讲的知识划分为若干个教学章节, 并辅以讲义PPT, 视频课件等等. 在创建这个方案时, 老师经常要花一些与讲课内容无关的脑力把讲义PPT, 视频课件与教学要点有序地组织和匹配起来. 在这种情况下, 老师会自然地想到: 如果必须花时间组织这些内容, 那么最好能一次编辑/整理, 办公室, 课堂和家里的电脑上都能保持一致.
    %br/
  %p
    %strong 功能:
    为了满足这个需求, 我们的系统为老师提供了统一的教学方案管理界面, 老师可以在网页上直接创建教学方案, 然后分出若干个教学章节, 最后把讲义PPT, 视频课件等以附件形式放进对应的章节中. 如果某个讲义PPT或视频课件, 在老师的个人知识库里已经存在, 还可以直接引用它, 实现知识成果的重复利用.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_02_pasted_image.png"}/
    %br/
    \----
    %br/
    %img{:alt => "", :src => "/html_demo_png/06_01_02_pasted_image001.png"}/
    %br/
  / End wiki content
