.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong Office 文档的在线即时处理 : 帮老师免去文档上传/下载的麻烦
    %br/
  %p
    %strong> 必要性:
    无论是老师编写教学课件, 还是学生在线完成作业的时候, 都经常需要把课件/作业文档保存为 Word, PowerPoint, Excel 等常见文档格式. 为了集中管理, 这些文档通常被上传到教学网站上. 但是, 这带来了新的问题, 一旦需要修改, 就不得不下载到本地, 待编辑完毕后再上传回去. 频繁的上传和下载操作会扰乱老师的思绪, 让他很难集中精力在教学课件内容本身. 在这种情况下, 老师会自然地想到: 如果能够只考虑编辑和保存文档而不必考虑文档究竟是在教学网站上, 还是自己的电脑里, 就好了.
    %br/
  %p
    %strong 功能:
    为了满足这个需求, 我们的系统将会引入微软Office 365 云端组件, 使office文档可以直接在线打开/编辑, 让老师真正做到一次上传以后直接在网页上打开/编辑和保存, 不再被文档上传和下载操作打断思路.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_03_pasted_image.png"}/
    %br/
    \----
    %br/
    %img{:alt => "", :src => "/html_demo_png/06_01_03_pasted_image001.png"}/
    %br/
  / End wiki content