.heading
  %h1 03-Office文档的在线即时处理
%hr/
.menu
  %ul
    %li
      %a.page{:href => "../../01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "../../02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "../../03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "../../04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "../../05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "../../06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %ul
      %li
        %a.page{:href => "../01.html", :title => "01-系统功能综述"} 01-系统功能综述
      %ul
        %li
          %a.page{:href => "./01.html", :title => "01-教学工作台"} 01-教学工作台
        %li
          %a.page{:href => "./02.html", :title => "02-教学方案录入"} 02-教学方案录入
        %li
          %strong.activepage 03-Office文档的在线即时处理
        %li
          %a.page{:href => "./04.html", :title => "04-多媒体课件的在线即时播放"} 04-多媒体课件的在线即时播放
        %li
          %a.page{:href => "./05.html", :title => "05-作业完成度的图形化展现"} 05-作业完成度的图形化展现
        %li
          %a.page{:href => "./06.html", :title => "06-师生问答互动"} 06-师生问答互动
        %li
          %a.page{:href => "./07.html", :title => "07-教学贡献度统计"} 07-教学贡献度统计
        %li
          %a.page{:href => "./08.html", :title => "08-教学资源利用率的可视化展现"} 08-教学资源利用率的可视化展现
        %li
          %a.page{:href => "./09.html", :title => "09-杂项功能"} 09-杂项功能
      %li
        %a.page{:href => "../02.html", :title => "02-系统部署方式"} 02-系统部署方式
    %li
      %a.page{:href => "../../07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong Office 文档的在线即时处理 : 帮老师免去文档上传/下载的麻烦
    %br/
  %p
    %strong> 必要性:
    无论是老师编写教学课件, 还是学生在线完成作业的时候, 都经常需要把课件/作业文档保存为 Word, PowerPoint, Excel 等常见文档格式. 为了集中管理, 这些文档通常被上传到教学网站上. 但是, 这带来了新的问题, 一旦需要修改, 就不得不下载到本地, 待编辑完毕后再上传回去. 频繁的上传和下载操作会扰乱老师的思绪, 让他很难集中精力在教学课件内容本身. 在这种情况下, 老师会自然地想到: 如果能够只考虑编辑和保存文档而不必考虑文档究竟是在教学网站上, 还是自己的电脑里, 就好了.
    %br/
  %p
    %strong 功能:
    为了满足这个需求, 我们的系统将会引入微软Office 365 云端组件, 使office文档可以直接在线打开/编辑, 让老师真正做到一次上传以后直接在网页上打开/编辑和保存, 不再被文档上传和下载操作打断思路.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/03-Office%E6%96%87%E6%A1%A3%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E5%A4%84%E7%90%86/pasted_image.png"}/
    %br/
    \----
    %br/
    %img{:alt => "", :src => "/html_demo_png/06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/03-Office%E6%96%87%E6%A1%A3%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E5%A4%84%E7%90%86/pasted_image001.png"}/
    %br/
  / End wiki content