.heading
  %h1 04-多媒体课件的在线即时播放
%hr/
.menu
  %ul
    %li
      %a.page{:href => "../../01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "../../02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "../../03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "../../04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "../../05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "../../06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %ul
      %li
        %a.page{:href => "../01.html", :title => "01-系统功能综述"} 01-系统功能综述
      %ul
        %li
          %a.page{:href => "./01.html", :title => "01-教学工作台"} 01-教学工作台
        %li
          %a.page{:href => "./02.html", :title => "02-教学方案录入"} 02-教学方案录入
        %li
          %a.page{:href => "./03.html", :title => "03-Office文档的在线即时处理"} 03-Office文档的在线即时处理
        %li
          %strong.activepage 04-多媒体课件的在线即时播放
        %li
          %a.page{:href => "./05.html", :title => "05-作业完成度的图形化展现"} 05-作业完成度的图形化展现
        %li
          %a.page{:href => "./06.html", :title => "06-师生问答互动"} 06-师生问答互动
        %li
          %a.page{:href => "./07.html", :title => "07-教学贡献度统计"} 07-教学贡献度统计
        %li
          %a.page{:href => "./08.html", :title => "08-教学资源利用率的可视化展现"} 08-教学资源利用率的可视化展现
        %li
          %a.page{:href => "./09.html", :title => "09-杂项功能"} 09-杂项功能
      %li
        %a.page{:href => "../02.html", :title => "02-系统部署方式"} 02-系统部署方式
    %li
      %a.page{:href => "../../07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 多媒体课件的在线即时播放 : 帮老师免去寻找媒体文件和调整播放器的麻烦
    %br/
  %p
    %strong 必要性:
    老师在上课的时候, 经常需要给学生播放一些演示视频. 如果把这些视频放在自己的电脑或U盘中, 每次播放前都需要打开文件夹查找半天才能开始播放; 在某些情况下, 如果教室电脑中视频播放软件出现故障, 上课过程就会被卡住, 两种都非常浪费老师和学生的时间. 在这种情况下, 老师会自然地想到: 如果能有一个专课专用的存储空间, 上课的时候只列出相关的视频, 并且不必担心播放不了的情况, 做演示之前就不用那么紧张了.
    %br/
  %p
    %strong 功能:
    为了满足这种需要, 我们的系统提供了按课程的教学方案组织视频课件的功能, 老师可以利用教学方案的结构, 分门别类地把演示视频提前附在对应的章节目录中. 这样一来, 老师上课前就不用考虑视频文件应该怎么存放, 上课时到哪里查找的问题了; 为了把播放器软件故障的风险减少到零, 我们的系统直接提供了在线视频转码, 和流媒体播放的功能, 以保证只要能够正常打开网页就能直接播放.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/04-%E5%A4%9A%E5%AA%92%E4%BD%93%E8%AF%BE%E4%BB%B6%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E6%92%AD%E6%94%BE/pasted_image.png"}/
    %br/
  / End wiki content