

.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 作业完成度的图形化展现 : 帮老师快速了解学生作业完成情况
    %br/
  %p
    %strong 必要性:
    随着教学工作日益信息化, 老师们已习惯于在线上查看学生作业的完成情况. 但是, 当学生较多, 作业要考察的知识点较多的时候, 想快速了解学生们的总体完成情况和每位学生的具体完成情况, 就比较麻烦, 很可能需要额外的操作步骤. 在这种情况下, 老师会自然地想到: 如果能尽量自动地把学生作业的完成情况用统计图的方式显示出来, 让我对着屏幕简单扫一眼就能心里有数, 那多省心啊.
    %br/
  %p
    %strong 功能:
    为了满足这种需求, 我们的系统允许老师在布置作业的时候就能分步骤给出, 这样就能统计出每位学生的作业完成情况; 更进一步, 我们的系统把每位学生的作业完成情况, 都以进度条方式展示, 一目了然. 即使学生很多, 也可以一眼看到全部学生的完成情况, 对整体完成度形成大致印象.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_05_pasted_image.png"}/
    %br/
  / End wiki content
      