

.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 师生问答互动 : 帮老师自动归集学生们普遍提出的疑问
    %br/
  %p
    %strong 必要性:
    老师每次讲出一些新的知识点后, 学生们都会提出各种各样的问题. 其中有些问题是很多学生普遍觉得不容易理解的, 老师常常需要多次为不同的学生做讲解. 而且, 不同的学生的情况并不一样, 很难在一个学生提出这种普遍问题时, 就立即召集所有学生都来关注这个问题. 在这种情况下, 老师会自然地想到: 既然有些问题很多人都会问到, 如果在我第一次很全面地回答一个问题之后, 系统能自动帮我保存下来, 一旦出现很多同学反复提问的状况, 能自动把这个问题标记为需要重视的问题, 不就省事多了吗?
    %br/
  %p
    %strong 功能:
    为了满足这种需要, 我们的系统提供了 [FAQ自动归集] 功能, 老师只需要一次性地给出回答, 以后提同样问题的学生可以反复利用这个问答过程, 可以从不同的角度提出疑问或补充答案, 还可以对问答过程投票以提高重要度. 这样经历了一段时间之后, 普遍的问题就会被自动区分出来.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_06_pasted_image.png"}/
    %br/
  / End wiki content
      