
.heading
  %h1 07-教学贡献度统计
%hr/
.menu
  %ul

    %li
      %a.page{:href => "../../01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "../../02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "../../03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "../../04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "../../05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "../../06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设

    %ul
      %li
        %a.page{:href => "../01.html", :title => "01-系统功能综述"} 01-系统功能综述
      %ul
        %li
          %a.page{:href => "./01.html", :title => "01-教学工作台"} 01-教学工作台
        %li
          %a.page{:href => "./02.html", :title => "02-教学方案录入"} 02-教学方案录入
        %li
          %a.page{:href => "./03.html", :title => "03-Office文档的在线即时处理"} 03-Office文档的在线即时处理
        %li
          %a.page{:href => "./04.html", :title => "04-多媒体课件的在线即时播放"} 04-多媒体课件的在线即时播放
        %li
          %a.page{:href => "./05.html", :title => "05-作业完成度的图形化展现"} 05-作业完成度的图形化展现
        %li
          %a.page{:href => "./06.html", :title => "06-师生问答互动"} 06-师生问答互动
        %li
          %strong.activepage 07-教学贡献度统计
        %li
          %a.page{:href => "./08.html", :title => "08-教学资源利用率的可视化展现"} 08-教学资源利用率的可视化展现
        %li
          %a.page{:href => "./09.html", :title => "09-杂项功能"} 09-杂项功能
      %li
        %a.page{:href => "../02.html", :title => "02-系统部署方式"} 02-系统部署方式
    %li
      %a.page{:href => "../../07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 教学贡献度统计 : 帮老师和学生了解自己的资源贡献度
    %br/
  %p
    %strong 必要性:
    在日常的教学知识管理活动中, 教师和学生忙于具体的备课, 处理作业, 参与问答等具体事务, 并在做这些事的过程中不断创建新的知识成果. 在传统的内容管理系统中, 老师与学生所做的课件上传, 参与问答这样的"知识贡献"虽然创造价值, 但并不会得到记录和分析. 面对这种情况, 希望科学改进教学质量的老师会自然地想到: 我需要一种手段, 能够在教学活动中无形地记录学生的行为, 并利用这些行为数据给出辅助我教学改进的建议.
    %br/
  %p
    %strong 功能:
    面对这种情况, 我们的系统提供了贡献度统计的功能, 帮助老师和学生记录和分析这些很难靠自己统计的知识贡献, 并把这些贡献以信息图的方式展现在老师/学生的个人首页上. 这种信息图既可以给老师/学生本人带来回馈感, 也能帮助老师从统计数据中得出一些直观的结论, 比如: 个人贡献度信息图颜色越深, 表明学生的贡献度越高, 也可以间接看出学生的主动性较强.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_07_pasted_image.png"}/
    %br/
  / End wiki content
      