
.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 教学资源利用率的可视化展现; 帮老师了解课件和作业的利用率
    %br/
  %p
    %strong 学习资源利用率:
    按虚拟章节组织学习资源以控制颗粒度, 从而可以通过学生是否利用过某项学习资源, 利用的程度如何为依据分析学习资源利用率. 系统主要负责承载学习资源, 并不强制学生按期完成学习. 尽管如此, 应用到具体学生的教学方案, 将会展现学习资源利用率百分比. 利用此数据, 可以分析哪些教学方案和学习资源利用率较高, 从而帮助教师改进部分学习资源乃至整个教学方案.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_08_pasted_image.png"}/
    %br/
  %p
    %strong 练习资源的利用率:
    按作业要求组织作业资源以控制颗粒度, 以学生是否针对作业要求给出了作业提交物为依据分析资源利用率. 系统只是承载作业资源, 并不强制学生按期完成. 尽管如此, 系统会根据作业提交物的数量, 展现出某项作业要求被学生按期达成的百分比.利用此数据, 可以分析哪些作业要求的利用率较高, 从而帮助教师改进作业要求.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_08_pasted_image001.png"}/
    %br/
  / End wiki content
      