
.content
  / Wiki content
  %p
    Created Tuesday 29 January 2013
    %br/
  %p
    %strong 个性化展示;
    帮助教育机构/教师/学生建立公共主页和个人主页, 汇集教学过程信息及共享的文件资源, 达到良好的展示和导航效果.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_09_pasted_image002.png"}/
    %br/
  %p
    %strong 公告与调查;
    帮助教育机构/教师进行教学公告/通知管理, 能够定时定向地发送通知/公告, 并收集反馈. 帮助进行各类调查, 以及定制调查表格式.
    %br/
  %p
  %div{:style => "padding-left: 30pt"}
    %img{:alt => "", :src => "/html_demo_png/06_01_09_pasted_image.png"}/
    %br/
  %p
    %strong 社会化分享;
    (仅限于公共服务方式) 帮助师生便捷地将适合公开的教学资源分享到新浪微博, 人人网这样的公共社区, 扩大资源的受众, 并且吸引和整合来自各个社区的评论互动信息. 使 EduShare 系统在公众面前逐步形成独特的姿态和影响力.
    %br/
  %p
    %img{:alt => "", :src => "/html_demo_png/06_01_09_pasted_image001.png"}/
    %br/
  / End wiki content
      