:ruby
  entries = Entry.all

.page-b2

  .search
    = button_to "æœç´¢", "/c51", :method => 'get'

  .top
    = render "/a1/parts/nav"


  .page-entry-list
    - entries.each do |entry|
      .item
        .title= link_to entry.title, "/b3"
