.page-b2

  .top
    = render "/a1/parts/nav"


  .page-chapter-list
    .item
      .title= link_to "第一节", "/b3"

    .item
      .title= link_to "第二节", "/b3"

    .item
      .title= link_to "第三节", "/b3"