.page-model-form
  = form_for [:admin, @p_text_cell] do |f|
    .field.need
      =f.text_field :title
    
    .field
      =f.text_area :desc

    .attrs
      %a.add-new-attr{:href=>'javascript:;'} 增加属性

      - @p_text_cell.rattrs.each do |rattr|
        .item{:class => rattr.new_record? ? 'new' : ''}
          - if rattr.persisted?
            = hidden_field_tag "p_text_cell[rattrs_attributes][][_id]", rattr._id
            = check_box_tag "p_text_cell[rattrs_attributes][][_destroy]", 1
          %input{:name => "p_text_cell[rattrs_attributes][][key]", :size => "20", :type => "text", :value => rattr.key}
          %input{:name => "p_text_cell[rattrs_attributes][][value]", :size => "20", :type => "text", :value => rattr.value}

    .field
      =f.submit
