
.page-admin-p-text-cells-index
  .title
    = link_to '添加一条', new_admin_p_text_cell_path
  .content
    .title
      %span.title= "主题"
    .text-cell
      = render "admin/p_text_cells/parts/p_text_cells" ,:p_text_cells  => @p_text_cells
