- text_cells.each do |tc|
  :ruby
    is_current = tc == @current_text_cell
    is_ancestor = tc.is_ancestor_of?(@current_text_cell)

    klass = is_current ? 'current' : is_ancestor ? 'open' : ''
    if klass == 'open' && tc.level == max_level
      klass = 'current'
    end

  .item{:class=>klass, :data=>{:level=>tc.level}}
    %a.link{:href=>"/texts/#{tc.url}"}= tc.title
    - if tc.level < max_level
      .children
        = render 'layouts/texts/nav', :text_cells => tc.children,
                                      :max_level => max_level