- text_cells.each do |tc|
  .item
    %a.link{:href=>tc.url}= tc.title
    - if tc.level <= max_level
      .children
        = render 'layouts/texts/nav', :text_cells => tc.children,
                                      :max_level => max_level