:ruby
  books = Book.all[0..5]

= page_top_nav(0)

.page-a3
  .books-list
    - books.each do |book|
      .item
        .img
          = link_to image_tag(book.cover_img), "/b1"
        .title
          = link_to book.title, "/b1"
        .author
          诸葛亮

        .progress
          .p{:style=>'width:20%;'}
        .download-status
          .t 正在下载…
          .per 20%