:ruby
  work = Work.all
  work_about = WorkAbout.all
  entry = Entry.find(1)

.page-i3
  .page-web-work-list
    .header
      %h3 我的作业列表
    .content.web.work

      .left.content
        .work.about
          .top
            = render "/a1/parts/nav"
          .page-show
            .title= entry.title
            .content= entry.content

      .right.content
        = render "/i1/parts/right"