:ruby
  work = Homework.all[1]
  entries = Entry.homework_related
.right
  .item= link_to "在手机上显示", "/i2"
  .work
    .header
      %h3=work.title
    .content
      = work.content

  .work.about
    .title 相关词条
    - entries.each do |entry|
      .item= link_to entry.title, 'javascript:;'
