- notebooks = Notebook.all
.note-dialog{:style=>'display:none;'}
  .box
    .desc 添加到指定笔记本
    .notebooks
      - notebooks.each do |notebook|
        .notebook
          .title= notebook.title
          .radio= radio_button_tag :notebook, 'a'
    .ops
      .submit= link_to '确定', 'javascript:;'
      .cancel= link_to '取消', 'javascript:;'
