.toast.note{:style => 'position:fixed;margin:0 auto;border:8px solid #ccc;background:#fff;display:none;'} 笔记添加成功!
.toast.important{:style => 'position:fixed;margin:0 auto;border:8px solid #ccc;background:#fff;display:none;'} 标记成功!
