!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 08-教学资源利用率的可视化展现
    %meta{:content => "Zim 0.59", :name => "Generator"}/
    :css
      a          { text-decoration: none      }
      a:hover    { text-decoration: underline }
      a:active   { text-decoration: underline }
      strike     { color: grey                }
      u          { text-decoration: none;
                   background-color: yellow   }
      tt         { color: #2e3436;            }
      pre        { color: #2e3436;
                   margin-left: 20px          }
      h1         { text-align: center;
                   color: #4e9a06             }
      h2         { color: #4e9a06             }
      h3         { color: #4e9a06             }
      h4         { color: #4e9a06             }
      h5         { color: #4e9a06             }
      span.insen { color: grey                }
      .page { max-width: 1200px;}
      .menu{
        float:left; width: 500px;
      }

      .content { padding-left: 520px;}
      .notebook{font-variant: small-caps;
          color:#4e9a06;
          padding: 0px 20px;}
      hr{clear:both;}
      %body
    .page
      .heading
        %h1 08-教学资源利用率的可视化展现
      %hr/
      .menu
        %ul
          %li
            %a.page{:href => "../../01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html", :title => "01-演示索引页"} 01-演示索引页
          %li
            %a.page{:href => "../../02-%E7%89%88%E6%9C%AC%E5%8E%86%E5%8F%B2.html", :title => "02-版本历史"} 02-版本历史
          %li
            %a.page{:href => "../../03-%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E.html", :title => "03-免责声明"} 03-免责声明
          %li
            %a.page{:href => "../../04-%E7%89%88%E6%9D%83%E8%AF%B4%E6%98%8E.html", :title => "04-版权说明"} 04-版权说明
          %li
            %a.page{:href => "../../05-%E9%A1%B9%E7%9B%AE%E6%A6%82%E8%BF%B0.html", :title => "05-项目概述"} 05-项目概述
          %li
            %a.page{:href => "../../06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
          %ul
            %li
              %a.page{:href => "../01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0.html", :title => "01-系统功能综述"} 01-系统功能综述
            %ul
              %li
                %a.page{:href => "./01-%E6%95%99%E5%AD%A6%E5%B7%A5%E4%BD%9C%E5%8F%B0.html", :title => "01-教学工作台"} 01-教学工作台
              %li
                %a.page{:href => "./02-%E6%95%99%E5%AD%A6%E6%96%B9%E6%A1%88%E5%BD%95%E5%85%A5.html", :title => "02-教学方案录入"} 02-教学方案录入
              %li
                %a.page{:href => "./03-Office%E6%96%87%E6%A1%A3%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E5%A4%84%E7%90%86.html", :title => "03-Office文档的在线即时处理"} 03-Office文档的在线即时处理
              %li
                %a.page{:href => "./04-%E5%A4%9A%E5%AA%92%E4%BD%93%E8%AF%BE%E4%BB%B6%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E6%92%AD%E6%94%BE.html", :title => "04-多媒体课件的在线即时播放"} 04-多媒体课件的在线即时播放
              %li
                %a.page{:href => "./05-%E4%BD%9C%E4%B8%9A%E5%AE%8C%E6%88%90%E5%BA%A6%E7%9A%84%E5%9B%BE%E5%BD%A2%E5%8C%96%E5%B1%95%E7%8E%B0.html", :title => "05-作业完成度的图形化展现"} 05-作业完成度的图形化展现
              %li
                %a.page{:href => "./06-%E5%B8%88%E7%94%9F%E9%97%AE%E7%AD%94%E4%BA%92%E5%8A%A8.html", :title => "06-师生问答互动"} 06-师生问答互动
              %li
                %a.page{:href => "./07-%E6%95%99%E5%AD%A6%E8%B4%A1%E7%8C%AE%E5%BA%A6%E7%BB%9F%E8%AE%A1.html", :title => "07-教学贡献度统计"} 07-教学贡献度统计
              %li
                %strong.activepage 08-教学资源利用率的可视化展现
              %li
                %a.page{:href => "./09-%E6%9D%82%E9%A1%B9%E5%8A%9F%E8%83%BD.html", :title => "09-杂项功能"} 09-杂项功能
            %li
              %a.page{:href => "../02-%E7%B3%BB%E7%BB%9F%E9%83%A8%E7%BD%B2%E6%96%B9%E5%BC%8F.html", :title => "02-系统部署方式"} 02-系统部署方式
          %li
            %a.page{:href => "../../07-%E9%99%84%E5%BD%95.html", :title => "07-附录"} 07-附录
      .content
        / Wiki content
        %p
          Created Tuesday 29 January 2013
          %br/
        %p
          %strong 教学资源利用率的可视化展现; 帮老师了解课件和作业的利用率
          %br/
        %p
          %strong 学习资源利用率:
          按虚拟章节组织学习资源以控制颗粒度, 从而可以通过学生是否利用过某项学习资源, 利用的程度如何为依据分析学习资源利用率. 系统主要负责承载学习资源, 并不强制学生按期完成学习. 尽管如此, 应用到具体学生的教学方案, 将会展现学习资源利用率百分比. 利用此数据, 可以分析哪些教学方案和学习资源利用率较高, 从而帮助教师改进部分学习资源乃至整个教学方案.
          %br/
        %p
        %div{:style => "padding-left: 30pt"}
          %img{:alt => "", :src => "./08-%E6%95%99%E5%AD%A6%E8%B5%84%E6%BA%90%E5%88%A9%E7%94%A8%E7%8E%87%E7%9A%84%E5%8F%AF%E8%A7%86%E5%8C%96%E5%B1%95%E7%8E%B0/pasted_image.png"}/
          %br/
        %p
          %strong 练习资源的利用率:
          按作业要求组织作业资源以控制颗粒度, 以学生是否针对作业要求给出了作业提交物为依据分析资源利用率. 系统只是承载作业资源, 并不强制学生按期完成. 尽管如此, 系统会根据作业提交物的数量, 展现出某项作业要求被学生按期达成的百分比.利用此数据, 可以分析哪些作业要求的利用率较高, 从而帮助教师改进作业要求.
          %br/
        %p
        %div{:style => "padding-left: 30pt"}
          %img{:alt => "", :src => "./08-%E6%95%99%E5%AD%A6%E8%B5%84%E6%BA%90%E5%88%A9%E7%94%A8%E7%8E%87%E7%9A%84%E5%8F%AF%E8%A7%86%E5%8C%96%E5%B1%95%E7%8E%B0/pasted_image001.png"}/
          %br/
        / End wiki content
      %hr/
      / Backlinks
      .footer
        %b Backlinks:
        %a{:href => "../01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0.html"} 06-技术方案设计与建设:01-系统功能综述
        %br/
        %br/
        %b Attachments:
        %table
          %tr
            %td
              %a{:href => "./08-%E6%95%99%E5%AD%A6%E8%B5%84%E6%BA%90%E5%88%A9%E7%94%A8%E7%8E%87%E7%9A%84%E5%8F%AF%E8%A7%86%E5%8C%96%E5%B1%95%E7%8E%B0/pasted_image.png"} pasted_image.png
            %td  
            %td 180kb
          %tr
            %td
              %a{:href => "./08-%E6%95%99%E5%AD%A6%E8%B5%84%E6%BA%90%E5%88%A9%E7%94%A8%E7%8E%87%E7%9A%84%E5%8F%AF%E8%A7%86%E5%8C%96%E5%B1%95%E7%8E%B0/pasted_image001.png"} pasted_image001.png
            %td  
            %td 114kb
        / End Backlinks