:ruby
  entries = Entry.homework_related

.page-i2
  .page-web-work-list
    .content.web.work

      .left.content
        .work.about
          .title="相关知识点"
          - entries.each do |entry|
            .item= link_to entry.title, 'i3'

      .right.content
        = render "/i1/parts/right"
