:ruby
  work_about = WorkAbout.all

.page-i2
  .page-web-work-list
    .content.web.work

      .left.content
        .work.about
          .title="相关知识点"
          - work_about.each do |about|
            .item= link_to about.title, '/i3'

      .right.content
        = render "/i1/parts/right"