= page_top_bar '创建笔记本', '/e1', :submit=>'/e1'

.page-e4
  .form
    .field
      %label 笔记本名称
      = text_field_tag 'title'
  .desc
    .p 　　你可以创建若干不同的笔记本，使用笔记本来收集整理课本中的词条，来让自己更容易地找到它们。你也可以在笔记本中创建任意内容，作为个人的记录和备忘。