:ruby
  notice=Notice.find(params[:id] || 1)

= page_top_bar '通知详情', '/h1'

.page-h2
  .page-my-notice
    .content.notice
      .title= notice.title
      .time 2012年12月21日 12:00
      .desc= notice.desc
