:ruby
  notices=Notice.all

.page-h1
  .header
    %h2 我的通知列表
  .content.notices
    - notices.each do |notice|
      - class_name = notice.read_status ? 'true' : 'false'
      .list-item.notice{:class=>class_name}
        .title=link_to notice.title, "/h2?id=#{notice.id}"
