:ruby
  notices=Notice.all

.page-h1
  .page-my-notice-list
    .header
      %h2 我的通知列表
    .content.notices
      - notices.each do |notice|
        .list-item.notice
          %div
            .title=link_to notice.title, 'javascript:;'
