:ruby
  entries = Entry.search('ajax')

.page-c2

  .top
    = render "/c1/parts/nav"

  .search
    = render "/c1/parts/search"

  .page-search-list
    - entries.each do |entry|
      .item
        .title= link_to entry.title, "/c3?id=#{entry.id}"
