:ruby
  entries = Entry.search('class')

= page_top_bar 'æœç´¢', '/a3'

.page-c2
  = render "/c1/parts/search"
  .page-search-list
    .entries
      - entries.each do |entry|
        .item
          .title= link_to entry.title, "/c3?id=#{entry.id}"
