:ruby
  entries = Entry.all
  search_entries = entries[2..5]

.page-c2

  .top
    = render "/c1/parts/nav"

  .search
    = render "/c1/parts/search"

  .page-search-list
    - search_chapters.each do |chapter|
      .item
        .title= link_to chapter.title, "/c3"