:ruby
  entries = Entry.search('jquery')
  section = Section.find(7)

.page-c42

  .top
    .menu
      = link_to "章节列表", "/b2"

  .search
    = render "/c41/parts/search"

  .page-search-list
    - entries.each do |entry|
      .item
        .title= link_to entry.title, "/c43?id=#{entry.id}"
