:ruby
  entries = Entry.search('jquery')
  section = Section.find(7)

= page_top_bar '在课本中搜索', '/b1'

.page-c42
  = render "/c41/parts/search"

  .page-search-list
    .entries
      - entries.each do |entry|
        .item
          .title= link_to entry.title, "/c43?id=#{entry.id}"
