.page-c42

  .top
    = render "/c1/parts/nav"

  .search
    = render "/c41/parts/search"

  .page-search-list
    - Chapter.all.each do |chapter|
      .item
        .title= link_to chapter.title, "/c43"