:ruby
  list_url =  ''

.page-index
  .title
    = link_to '添加一条', new_admin_p_text_cell_path
  .content
    .title= "主题"
    .text-cell
      / .show= link_to '显示', admin_p_text_cell_path(p_text_cell)
      / .edit= link_to '编辑', edit_admin_p_text_cell_path(p_text_cell)
      / .destroy= link_to '删除', admin_p_text_cell_path(p_text_cell), :method => :delete, :data => { :confirm => 'Are you sure?' }
