.page-b1

  .search
    = button_to "搜索", "/c41", :method => 'get'


  .top
    = render "/a1/parts/nav"

  .bookmark
    = link_to "添加书签", "/d1"


  .page-section-list
    - Section.all.each do |section|
      .item
        .title= link_to section.title, "/b2"