.page-b1

  .top
    = render "/a1/parts/nav"


  .page-section-list
    .item
      .title= link_to "第一章", "/b2"

    .item
      .title= link_to "第二章", "/b2"

    .item
      .title= link_to "第三章", "/b2"