:ruby
  book = Book.find(1)

= page_top_bar book.title, '/a3'

.page-b1
  .desc
    = truncate(book.desc)
  .sections
    - Section.all.each do |section|
      .item
        .title= link_to section.title, "/b2"