.child-cells
  %ul
    - child_cells.each do |child_cell|
      %li
        .show
          %span.title= link_to child_cell.title, admin_p_text_cell_path(child_cell)

          = render "admin/p_text_cells/parts/action", :p_text_cell => child_cell

        :ruby
          @child_cells = PTextCell.find(child_cell.id).children

        .child
          = render "admin/p_text_cells/parts/child_cells" ,:child_cells  => @child_cells