.page-i1
  .page-web-work-list
    .header
      %h3 我的作业列表
    .content.web.work

      .left.content
        .header
          %h3 我的ruby作业
        .content
          = " JS中的DOM选择器尽量严谨，不要影响到其他页面的DOM "

      .right.content
        .header
          %h3 我的ruby作业
        .content
          = " JS中的DOM选择器尽量严谨，不要影响到其他页面的DOM "

      .item= link_to "在手机上显示", "javascript:;"