
.page-i1
  .page-web-work-list
    .header
      %h3 我的作业列表
    .content.web.work

      .left.content
        .content
          %h2= '可以在这里显示作业'

      .right.content
        = render "/i1/parts/right"
        
