.heading
  %h1 01-演示索引页
%hr/
.menu
  %ul
    %li
      %strong.activepage 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "./06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %li
      %a.page{:href => "./07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %li
    %a.page{:href => "./02.html", :title => "02-版本历史"} 02-版本历史
  %li
    %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
  %li
    %a.page{:href => "./04.html", :title => "04-版权说明"} 04-版权说明
  %li
    %a.page{:href => "./05.html", :title => "05-项目概述"} 05-项目概述
  %li
    %a.page{:href => "./06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
  %li
    %a.page{:href => "./07.html", :title => "07-附录"} 07-附录
  / End wiki content