
.heading
  %h1 02-版本历史
%hr/
.menu
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %strong.activepage 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-版权说明"} 05-项目概述
    %li
      %a.page{:href => "./06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %li
      %a.page{:href => "./07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Monday 28 January 2013
    %br/
  %p
    版本 1.0
    %br/
    日期 2013 年 01 月 23 日
    %br/
    备注 第1版
    %br/
