!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 03-免责声明
    %meta{:content => "Zim 0.59", :name => "Generator"}/
    :css
      a          { text-decoration: none      }
      a:hover    { text-decoration: underline }
      a:active   { text-decoration: underline }
      strike     { color: grey                }
      u          { text-decoration: none;
                   background-color: yellow   }
      tt         { color: #2e3436;            }
      pre        { color: #2e3436;
                   margin-left: 20px          }
      h1         { text-align: center;
                   color: #4e9a06             }
      h2         { color: #4e9a06             }
      h3         { color: #4e9a06             }
      h4         { color: #4e9a06             }
      h5         { color: #4e9a06             }
      span.insen { color: grey                }
      .page { max-width: 1200px;}
      .menu{
        float:left; width: 500px;
      }

      .content { padding-left: 520px;}
      .notebook{font-variant: small-caps;
          color:#4e9a06;
          padding: 0px 20px;}
      hr{clear:both;}
      %body
    .page
      .heading
        %h1 03-免责声明
      %hr/
      .menu
        %ul
          %li
            %a.page{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html", :title => "01-演示索引页"} 01-演示索引页
          %li
            %a.page{:href => "./02-%E7%89%88%E6%9C%AC%E5%8E%86%E5%8F%B2.html", :title => "02-版本历史"} 02-版本历史
          %li
            %strong.activepage 03-免责声明
          %li
            %a.page{:href => "./04-%E7%89%88%E6%9D%83%E8%AF%B4%E6%98%8E.html", :title => "04-版权说明"} 04-版权说明
          %li
            %a.page{:href => "./05-%E9%A1%B9%E7%9B%AE%E6%A6%82%E8%BF%B0.html", :title => "05-项目概述"} 05-项目概述
          %li
            %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
          %li
            %a.page{:href => "./07-%E9%99%84%E5%BD%95.html", :title => "07-附录"} 07-附录
      .content
        / Wiki content
        %p
          Created Monday 28 January 2013
          %br/
        %p
          本建议书不得视为或解释为 MindPin 和客户方之间有效而且有约束力的协议. 建议书根据从客户方所发招标书获得的信息而编制, MindPin 对本建议书内容的准确性、完整性或充分性或建议书的使用不做任何担保, 而且特别明确表示, 对于本建议书的适销性和对特定目的的适用性, 不做任何明示或暗示的担保. 此外, MindPin 保留修订本建议书及其内容的权利.
          %br/
        / End wiki content
      %hr/
      / Backlinks
      .footer
        %b Backlinks:
        %a{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html"} 01-演示索引页
        %br/
        %br/
        / End Backlinks