.heading
  %h1 03-免责声明
.menu
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-\346\274\224\347\244\272\347\264\242\345\274\225\351\241\265"} 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-\347\211\210\346\234\254\345\216\206\345\217\262"} 02-版本历史
    %li
      %strong.activepage 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-\347\211\210\346\235\203\350\257\264\346\230\216"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-\351\241\271\347\233\256\346\246\202\350\277\260"} 05-项目概述
    %li
      %a.page{:href => "./06.html", :title => "06-\346\212\200\346\234\257\346\226\271\346\241\210\350\256\276\350\256\241\344\270\216\345\273\272\350\256\276"} 06-技术方案设计与建设
    %li
      %a.page{:href => "./07.html", :title => "07-\351\231\204\345\275\225"} 07-附录
.content
  / Wiki content
  %p
    Created Monday 28 January 2013
    %br/
  %p
    本建议书不得视为或解释为 MindPin 和客户方之间有效而且有约束力的协议. 建议书根据从客户方所发招标书获得的信息而编制, MindPin 对本建议书内容的准确性、完整性或充分性或建议书的使用不做任何担保, 而且特别明确表示, 对于本建议书的适销性和对特定目的的适用性, 不做任何明示或暗示的担保. 此外, MindPin 保留修订本建议书及其内容的权利.
    %br/
