.heading
  %h1 04-版权说明
.menu
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %strong.activepage 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "./06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %li
      %a.page{:href => "./07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Monday 28 January 2013
    %br/
  %p
    版权 © 2013
    %br/
  %p
    版权所有. 未经 MindPin 公司同意, 严禁复制或者修订本建议书的任何内容. 客户方仅能够在内部复制和传播.
    %br/
