!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 05-项目概述
    %meta{:content => "Zim 0.59", :name => "Generator"}/
    :css
      a          { text-decoration: none      }
      a:hover    { text-decoration: underline }
      a:active   { text-decoration: underline }
      strike     { color: grey                }
      u          { text-decoration: none;
                   background-color: yellow   }
      tt         { color: #2e3436;            }
      pre        { color: #2e3436;
                   margin-left: 20px          }
      h1         { text-align: center;
                   color: #4e9a06             }
      h2         { color: #4e9a06             }
      h3         { color: #4e9a06             }
      h4         { color: #4e9a06             }
      h5         { color: #4e9a06             }
      span.insen { color: grey                }
      .page { max-width: 1200px;}
      .menu{
      	float:left; width: 500px;
      }

      .content { padding-left: 520px;}
      .notebook{font-variant: small-caps;
      		color:#4e9a06;
      		padding: 0px 20px;}
      hr{clear:both;}
      %body
    .page
      .heading
        %h1 05-项目概述
      %hr/
      .menu
        %ul
          %li
            %a.page{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html", :title => "01-\346\274\224\347\244\272\347\264\242\345\274\225\351\241\265"} 01-演示索引页
          %li
            %a.page{:href => "./02-%E7%89%88%E6%9C%AC%E5%8E%86%E5%8F%B2.html", :title => "02-\347\211\210\346\234\254\345\216\206\345\217\262"} 02-版本历史
          %li
            %a.page{:href => "./03-%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E.html", :title => "03-\345\205\215\350\264\243\345\243\260\346\230\216"} 03-免责声明
          %li
            %a.page{:href => "./04-%E7%89%88%E6%9D%83%E8%AF%B4%E6%98%8E.html", :title => "04-\347\211\210\346\235\203\350\257\264\346\230\216"} 04-版权说明
          %li
            %strong.activepage 05-项目概述
          %li
            %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE.html", :title => "06-\346\212\200\346\234\257\346\226\271\346\241\210\350\256\276\350\256\241\344\270\216\345\273\272\350\256\276"} 06-技术方案设计与建设
          %li
            %a.page{:href => "./07-%E9%99%84%E5%BD%95.html", :title => "07-\351\231\204\345\275\225"} 07-附录
      .content
        / Wiki content
        %p
          Created Monday 28 January 2013
          %br/
        %p
          2011年教育部出台了《教育信息化十年发展规划(2011-2020)》, 《教育信息化十年发展规划》是对我国教育信息化的前瞻部署和统筹规划, 是各级各类学校未来十年信息化发展的指导性文件. 规划中要求职业教育学校学生学习终端全面普及, 数字化教学资源覆盖所有骨干课程, 管理平台全面普及.
          %br/
        %p
          根据教育部教育信息化发展规划, 学院制定了《信息化建设与发展"十二五"规划》, 提出了要进一步完善网络基础设施建设, 加强对应用系统的应用和开发, 加强信息资源的数字化建设, 加强现代远程教育及网络课程平台的建设. 按照示范性高职院校建设的要求和精神, 结合本院实际情况, 拟建设共享型专业教学资源平台, 教学资源平台是为了满足广大师生教与学的需要, 充分将教学资源进行整合, 打造一个专业的、开放的、共享的教学资源服务平台, 最终实现教育过程的全面信息化, 从而达到提高教育教学水平的目的.
          %br/
        %p
          1.1 项目建设思路
          %br/
        %p
          教学资源平台建设按照"科学规划、分步实施、高速互联、可靠稳定、前瞻兼容、高效管理"的思路, 运用现代信息手段, 搭建公共服务平台, 为共享优质教学资源提供技术支撑. 项目建设将本着开放性、共享性、可扩展性和高可靠性原则, 整合、开发校内各专业优质教学资源, 引进和开发相关行业的资源, 构筑教学信息交流与资源共享平台, 创建开放的教学资源环境, 实现优质教学资源网上共享, 满足学生自主学习的需要, 为高技能人才的培养和构建现代化学习环境搭建公共平台, 提高管理效率与教学水平.
          %br/
        %p
          1.2 项目建设目标
          %br/
        %p
          共享型专业教学资源平台建设项目的主要建设目标有以下几个方面:
          %br/
        %p
          围绕学院信息化建设"十二"规划总体目标, 建设"主干万兆、千兆接入、百兆桌面"的校园网络系统, 增加无线网络覆盖范围, 增大网络多出口带宽, 建设功能完善的集群服务器系统、海量存储系统, 解决多业务需求问题, 安全管理问题.
          %br/
        %p
          构建共享型专业教学资源管理平台, 建成集教师教学、科研探索、网上交流、在线自主学习、教师学生上传下载、精品课程建设、多媒体课件开发、网络教学资源建设、资源检索管理于一体的共享型专业教学服务管理平台. 实现完善的资源库管理, 资源共享共建, 为我院4个重点建设专业及相关专业的教学资源库建设提供技术服务, 搭建应用平台.
          %br/
        %p
          构建统一的信息共享和服务平台, 构建实现数据共享、统一用户管理和统一资源管理的电子校务综合信息平台. 实现网络办公和管理, 实现信息资源共享、提高各部门工作效率、改善领导决策支持和面向师生员工服务的校务体系.
          %br/
        %p
          1.3 项目建设内容
          %br/
        %p
          共享型专业教学资源管理服务平台的建设, 主要包括:
          %br/
        %p
          建立统一管理的教学资源管理中心, 实现资源的集中管理, 形成系统完整、高效管理和便捷应用的教育资源集群化系统平台;
          %br/
          建设高性能、高可用稳定的数据库系统, 为服务管理平台提供可靠保证;
          %br/
          建设海量信息处理, 分布式储存为一体的资源管理系统, 主要内容包括信息数字化采集、系统管理、信息储存、内容检索、数据挖掘和资源共享等功能.
          %br/
        %p
          共享型专业教学资源库管理服务平台的建设实现对教学资源库的集中统一管理, 为教学资源库提供全方位技术支持.
          %br/
        / End wiki content
      %hr/
      / Backlinks
      .footer
        %b Backlinks:
        %a{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html"} 01-演示索引页
        %br/
        %br/
        / End Backlinks
