.content
  %p
    Created Monday 28 January 2013
    %br/
  %p
  %ul
    %li
      %a.page{:href => "./06/01.html", :title => "+01-系统功能综述"} +01-系统功能综述
    %li
      %a.page{:href => "./06/02.html", :title => "+02-系统部署方式"} +02-系统部署方式
