.heading
  %h1 06-技术方案设计与建设
.menu
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %strong.activepage 06-技术方案设计与建设
    %ul
      %li
        %a.page{:href => "./06/01.html", :title => "01-系统功能综述"} 01-系统功能综述
      %li
        %a.page{:href => "./06/02.html", :title => "02-系统部署方式"} 02-系统部署方式
    %li
      %a.page{:href => "./07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %p
    Created Monday 28 January 2013
    %br/
  %p
  %ul
    %li
      %a.page{:href => "./06/01.html", :title => "+01-系统功能综述"} +01-系统功能综述
    %li
      %a.page{:href => "./06/02.html", :title => "+02-系统部署方式"} +02-系统部署方式
