.heading
  %h1 06-技术方案设计与建设
.menu
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-\346\274\224\347\244\272\347\264\242\345\274\225\351\241\265"} 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-\347\211\210\346\234\254\345\216\206\345\217\262"} 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-\345\205\215\350\264\243\345\243\260\346\230\216"} 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-\347\211\210\346\235\203\350\257\264\346\230\216"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-\351\241\271\347\233\256\346\246\202\350\277\260"} 05-项目概述
    %li
      %strong.activepage 06-技术方案设计与建设
    %ul
      %li
        %a.page{:href => "./06/01.html", :title => "01-\347\263\273\347\273\237\345\212\237\350\203\275\347\273\274\350\277\260"} 01-系统功能综述
      %li
        %a.page{:href => "./06/02.html", :title => "02-\347\263\273\347\273\237\351\203\250\347\275\262\346\226\271\345\274\217"} 02-系统部署方式
    %li
      %a.page{:href => "./07-%E9%99%84%E5%BD%95.html", :title => "07-\351\231\204\345\275\225"} 07-附录
.content
  / Wiki content
  %p
    Created Monday 28 January 2013
    %br/
  %p
  %ul
    %li
      %a.page{:href => "./06/01.html", :title => "+01-\347\263\273\347\273\237\345\212\237\350\203\275\347\273\274\350\277\260"} +01-系统功能综述
    %li
      %a.page{:href => "./06/02.html", :title => "+02-\347\263\273\347\273\237\351\203\250\347\275\262\346\226\271\345\274\217"} +02-系统部署方式
