!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 07-附录
    %meta{:content => "Zim 0.59", :name => "Generator"}/
    :css
      a          { text-decoration: none      }
      a:hover    { text-decoration: underline }
      a:active   { text-decoration: underline }
      strike     { color: grey                }
      u          { text-decoration: none;
                   background-color: yellow   }
      tt         { color: #2e3436;            }
      pre        { color: #2e3436;
                   margin-left: 20px          }
      h1         { text-align: center;
                   color: #4e9a06             }
      h2         { color: #4e9a06             }
      h3         { color: #4e9a06             }
      h4         { color: #4e9a06             }
      h5         { color: #4e9a06             }
      span.insen { color: grey                }
      .page { max-width: 1200px;}
      .menu{
      	float:left; width: 500px;
      }

      .content { padding-left: 520px;}
      .notebook{font-variant: small-caps;
      		color:#4e9a06;
      		padding: 0px 20px;}
      hr{clear:both;}
		  %body
    .page
      .heading
        %h1 07-附录
      %hr/
      .menu
        %ul
          %li
            %a.page{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html", :title => "01-\346\274\224\347\244\272\347\264\242\345\274\225\351\241\265"} 01-演示索引页
          %li
            %a.page{:href => "./02-%E7%89%88%E6%9C%AC%E5%8E%86%E5%8F%B2.html", :title => "02-\347\211\210\346\234\254\345\216\206\345\217\262"} 02-版本历史
          %li
            %a.page{:href => "./03-%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E.html", :title => "03-\345\205\215\350\264\243\345\243\260\346\230\216"} 03-免责声明
          %li
            %a.page{:href => "./04-%E7%89%88%E6%9D%83%E8%AF%B4%E6%98%8E.html", :title => "04-\347\211\210\346\235\203\350\257\264\346\230\216"} 04-版权说明
          %li
            %a.page{:href => "./05-%E9%A1%B9%E7%9B%AE%E6%A6%82%E8%BF%B0.html", :title => "05-\351\241\271\347\233\256\346\246\202\350\277\260"} 05-项目概述
          %li
            %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE.html", :title => "06-\346\212\200\346\234\257\346\226\271\346\241\210\350\256\276\350\256\241\344\270\216\345\273\272\350\256\276"} 06-技术方案设计与建设
          %li
            %strong.activepage 07-附录
      .content
        / Wiki content
        %p
          Created Monday 28 January 2013
          %br/
        %h1 3 附录一: 技术支持
        %p
          3.1 技术支持方案
          %br/
          我们可以为客户方提供Premium 4000电话支持服务. 这项支持服务是项目实施现场支持服务的补充.
          %br/
          Premium 4000 提供了:
          %br/
          最长响应时间 - 30 分钟
          %br/
          提供每周 7 天, 每天 24 小时的支持服务†
          %br/
          无限制服务请求
          %br/
          主要支持工程师 (指定支持工程师, 可同时为 3 名客户提供服务)
          %br/
          4 天现场支持
          %br/
          服务客户经理 (负责满足客户支持需求的非技术型经理)
          %br/
          主动以电子邮件的形式发出补丁及更新通知
          %br/
          在线服务请求提交、跟踪及报告
          %br/
          建议只在出现极其严重问题的情况下, 才寻求工作时间外支持
          %br/
          任何需要提供现场支持的技术问题, 可以由MindPin支持工程师或经由MindPin认证的技术服务工程师通过现场支持服务进行处理.
          %br/
        / End wiki content
      %hr/
      / Backlinks
      .footer
        %b Backlinks:
        %a{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html"} 01-演示索引页
        %br/
        %br/
        / End Backlinks
