.page-block
  %p
    Created Monday 28 January 2013
    %br/
  %h1 3 附录一: 技术支持
  %p
    3.1 技术支持方案
    %br/
    我们可以为客户方提供Premium 4000电话支持服务. 这项支持服务是项目实施现场支持服务的补充.
    %br/
    Premium 4000 提供了:
    %br/
    最长响应时间 - 30 分钟
    %br/
    提供每周 7 天, 每天 24 小时的支持服务†
    %br/
    无限制服务请求
    %br/
    主要支持工程师 (指定支持工程师, 可同时为 3 名客户提供服务)
    %br/
    4 天现场支持
    %br/
    服务客户经理 (负责满足客户支持需求的非技术型经理)
    %br/
    主动以电子邮件的形式发出补丁及更新通知
    %br/
    在线服务请求提交、跟踪及报告
    %br/
    建议只在出现极其严重问题的情况下, 才寻求工作时间外支持
    %br/
    任何需要提供现场支持的技术问题, 可以由MindPin支持工程师或经由MindPin认证的技术服务工程师通过现场支持服务进行处理.
    %br/
