.content
  %p
    Created Monday 28 January 2013
    %br/
  %p
    本建议书不得视为或解释为 MindPin 和客户方之间有效而且有约束力的协议. 建议书根据从客户方所发招标书获得的信息而编制, MindPin 对本建议书内容的准确性、完整性或充分性或建议书的使用不做任何担保, 而且特别明确表示, 对于本建议书的适销性和对特定目的的适用性, 不做任何明示或暗示的担保. 此外, MindPin 保留修订本建议书及其内容的权利.
    %br/
