.page-func
  .func-problem
    .t 困扰的问题
    .ct= feature.problem

  .func-solution
    .t 应对方法
    .ct= feature.solution
    .hide
      %a.i{:href=>'javascript:;'}观看详细介绍
      %a.i{:href=>'javascript:;'}观看视频DEMO