.page-func
  .func-purpose
    .t 让人困扰的问题
    .ct= feature.problem

  .func-desc
    .t 应对方法
    .ct= feature.solution
    %a.i{:href=>'javascript:;'}观看详细介绍
    %a.i{:href=>'javascript:;'}观看视频DEMO