.page-funclist
  .sences
    - sences.each do |sence|
      .sence
        .i
          %img{:src=>sence.pages[0].image_url}
        .c
          .title= sence.title
          .desc= sence.desc
        .url
          %a{:href=>sence.url} 查看