.heading
  %h1 Index of
%hr/
.menu
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "./06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %li
      %a.page{:href => "./07.html", :title => "07-附录"} 07-附录
.content
  / Wiki content
  %ul
    %li
      %a.page{:href => "./01.html", :title => "01-演示索引页"} 01-演示索引页
    %li
      %a.page{:href => "./02.html", :title => "02-版本历史"} 02-版本历史
    %li
      %a.page{:href => "./03.html", :title => "03-免责声明"} 03-免责声明
    %li
      %a.page{:href => "./04.html", :title => "04-版权说明"} 04-版权说明
    %li
      %a.page{:href => "./05.html", :title => "05-项目概述"} 05-项目概述
    %li
      %a.page{:href => "./06.html", :title => "06-技术方案设计与建设"} 06-技术方案设计与建设
    %ul
      %li
        %a.page{:href => "./06/01.html", :title => "01-系统功能综述"} 01-系统功能综述
        %ul
          %li
            %a.page{:href => "./06/01/01.html", :title => "01-教学工作台"} 01-教学工作台
          %li
            %a.page{:href => "./06/01/02.html", :title => "02-教学方案录入"} 02-教学方案录入
          %li
            %a.page{:href => "./06/01/03.html", :title => "03-Office文档的在线即时处理"} 03-Office文档的在线即时处理
          %li
            %a.page{:href => "./06/01/04.html", :title => "04-多媒体课件的在线即时播放"} 04-多媒体课件的在线即时播放
          %li
            %a.page{:href => "./06/01/05.html", :title => "05-作业完成度的图形化展现"} 05-作业完成度的图形化展现
          %li
            %a.page{:href => "./06/01/06.html", :title => "06-师生问答互动"} 06-师生问答互动
          %li
            %a.page{:href => "./06/01/07.html", :title => "07-教学贡献度统计"} 07-教学贡献度统计
          %li
            %a.page{:href => "./06/01/08.html", :title => "08-教学资源利用率的可视化展现"} 08-教学资源利用率的可视化展现
          %li
            %a.page{:href => "./06/01/09.html", :title => "09-杂项功能"} 09-杂项功能
    %li
      %a.page{:href => "./06/02.html", :title => "02-系统部署方式"} 02-系统部署方式
    %li
      %a.page{:href => "./07.html", :title => "07-附录"} 07-附录