.page-hindex
  .page-block
    .title EduShare - 高效率的教育资源共享工具
    .index-img1

    .points

      .point
        .title 合理组织数据
        .p 通过教学方案组织教学内容
        .p 多维度管理课件与作业
        .p 有效评价资源利用效果

      .point
        .title 共享文档和视频
        .p 通过网盘保存文件
        .p 分享文件给其他人
        .p 在线播放和预览

      .point
        .title 随时学习
        .p 支持移动客户端访问
        .p 即时通知消息推送
        .p 轻量级课程阅读体验