.heading
  %h1 Index of
%hr/
.menu
  %ul
    %li
      %a.page{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html", :title => "01-\346\274\224\347\244\272\347\264\242\345\274\225\351\241\265"} 01-演示索引页
    %li
      %a.page{:href => "./02-%E7%89%88%E6%9C%AC%E5%8E%86%E5%8F%B2.html", :title => "02-\347\211\210\346\234\254\345\216\206\345\217\262"} 02-版本历史
    %li
      %a.page{:href => "./03-%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E.html", :title => "03-\345\205\215\350\264\243\345\243\260\346\230\216"} 03-免责声明
    %li
      %a.page{:href => "./04-%E7%89%88%E6%9D%83%E8%AF%B4%E6%98%8E.html", :title => "04-\347\211\210\346\235\203\350\257\264\346\230\216"} 04-版权说明
    %li
      %a.page{:href => "./05-%E9%A1%B9%E7%9B%AE%E6%A6%82%E8%BF%B0.html", :title => "05-\351\241\271\347\233\256\346\246\202\350\277\260"} 05-项目概述
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE.html", :title => "06-\346\212\200\346\234\257\346\226\271\346\241\210\350\256\276\350\256\241\344\270\216\345\273\272\350\256\276"} 06-技术方案设计与建设
    %li
      %a.page{:href => "./07-%E9%99%84%E5%BD%95.html", :title => "07-\351\231\204\345\275\225"} 07-附录
.content
  / Wiki content
  %ul
    %li
      %a.page{:href => "./01-%E6%BC%94%E7%A4%BA%E7%B4%A2%E5%BC%95%E9%A1%B5.html", :title => "01-\346\274\224\347\244\272\347\264\242\345\274\225\351\241\265"} 01-演示索引页
    %li
      %a.page{:href => "./02-%E7%89%88%E6%9C%AC%E5%8E%86%E5%8F%B2.html", :title => "02-\347\211\210\346\234\254\345\216\206\345\217\262"} 02-版本历史
    %li
      %a.page{:href => "./03-%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E.html", :title => "03-\345\205\215\350\264\243\345\243\260\346\230\216"} 03-免责声明
    %li
      %a.page{:href => "./04-%E7%89%88%E6%9D%83%E8%AF%B4%E6%98%8E.html", :title => "04-\347\211\210\346\235\203\350\257\264\346\230\216"} 04-版权说明
    %li
      %a.page{:href => "./05-%E9%A1%B9%E7%9B%AE%E6%A6%82%E8%BF%B0.html", :title => "05-\351\241\271\347\233\256\346\246\202\350\277\260"} 05-项目概述
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE.html", :title => "06-\346\212\200\346\234\257\346\226\271\346\241\210\350\256\276\350\256\241\344\270\216\345\273\272\350\256\276"} 06-技术方案设计与建设
  %ul
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0.html", :title => "01-\347\263\273\347\273\237\345\212\237\350\203\275\347\273\274\350\277\260"} 01-系统功能综述
  %ul
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/01-%E6%95%99%E5%AD%A6%E5%B7%A5%E4%BD%9C%E5%8F%B0.html", :title => "01-\346\225\231\345\255\246\345\267\245\344\275\234\345\217\260"} 01-教学工作台
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/02-%E6%95%99%E5%AD%A6%E6%96%B9%E6%A1%88%E5%BD%95%E5%85%A5.html", :title => "02-\346\225\231\345\255\246\346\226\271\346\241\210\345\275\225\345\205\245"} 02-教学方案录入
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/03-Office%E6%96%87%E6%A1%A3%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E5%A4%84%E7%90%86.html", :title => "03-Office\346\226\207\346\241\243\347\232\204\345\234\250\347\272\277\345\215\263\346\227\266\345\244\204\347\220\206"} 03-Office文档的在线即时处理
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/04-%E5%A4%9A%E5%AA%92%E4%BD%93%E8%AF%BE%E4%BB%B6%E7%9A%84%E5%9C%A8%E7%BA%BF%E5%8D%B3%E6%97%B6%E6%92%AD%E6%94%BE.html", :title => "04-\345\244\232\345\252\222\344\275\223\350\257\276\344\273\266\347\232\204\345\234\250\347\272\277\345\215\263\346\227\266\346\222\255\346\224\276"} 04-多媒体课件的在线即时播放
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/05-%E4%BD%9C%E4%B8%9A%E5%AE%8C%E6%88%90%E5%BA%A6%E7%9A%84%E5%9B%BE%E5%BD%A2%E5%8C%96%E5%B1%95%E7%8E%B0.html", :title => "05-\344\275\234\344\270\232\345\256\214\346\210\220\345\272\246\347\232\204\345\233\276\345\275\242\345\214\226\345\261\225\347\216\260"} 05-作业完成度的图形化展现
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/06-%E5%B8%88%E7%94%9F%E9%97%AE%E7%AD%94%E4%BA%92%E5%8A%A8.html", :title => "06-\345\270\210\347\224\237\351\227\256\347\255\224\344\272\222\345\212\250"} 06-师生问答互动
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/07-%E6%95%99%E5%AD%A6%E8%B4%A1%E7%8C%AE%E5%BA%A6%E7%BB%9F%E8%AE%A1.html", :title => "07-\346\225\231\345\255\246\350\264\241\347\214\256\345\272\246\347\273\237\350\256\241"} 07-教学贡献度统计
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/08-%E6%95%99%E5%AD%A6%E8%B5%84%E6%BA%90%E5%88%A9%E7%94%A8%E7%8E%87%E7%9A%84%E5%8F%AF%E8%A7%86%E5%8C%96%E5%B1%95%E7%8E%B0.html", :title => "08-\346\225\231\345\255\246\350\265\204\346\272\220\345\210\251\347\224\250\347\216\207\347\232\204\345\217\257\350\247\206\345\214\226\345\261\225\347\216\260"} 08-教学资源利用率的可视化展现
    %li
      %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/01-%E7%B3%BB%E7%BB%9F%E5%8A%9F%E8%83%BD%E7%BB%BC%E8%BF%B0/09-%E6%9D%82%E9%A1%B9%E5%8A%9F%E8%83%BD.html", :title => "09-\346\235\202\351\241\271\345\212\237\350\203\275"} 09-杂项功能
  %li
    %a.page{:href => "./06-%E6%8A%80%E6%9C%AF%E6%96%B9%E6%A1%88%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%BB%BA%E8%AE%BE/02-%E7%B3%BB%E7%BB%9F%E9%83%A8%E7%BD%B2%E6%96%B9%E5%BC%8F.html", :title => "02-\347\263\273\347\273\237\351\203\250\347\275\262\346\226\271\345\274\217"} 02-系统部署方式
  %li
    %a.page{:href => "./07-%E9%99%84%E5%BD%95.html", :title => "07-\351\231\204\345\275\225"} 07-附录