.page-h1{
  .page-my-notice-list{
    .header{

    }
    .content.notices{
      .list-item.notice{
        margin: 15px;
        line-height: 30px;
        height: 30px;

        a{
          text-decoration: none;
        }
      }
    }
    .content.notices .list-item.notice:nth-of-type(odd){
        background-color:rgba(6, 6, 6, 0.5);
    }
  }
}