.page-h1{

  .content.notices{
    .list-item.notice{
      margin: 15px;
      line-height: 30px;
      height: 30px;

      a{
        text-decoration: none;
      }

      &.unread{
        background-color:rgba(6, 6, 6, 0.5);
      }
    }
  }
}