@import 'base/mixins';
@import 'i2';
@import 'i3';

.page-i1{
  .page-web-work-list{
    .header{

    }
    .content.web.work{

      .left.content{
        float: left;
        width:300px;
        height:500px;
        border:solid 15px black;
        @include border-radius(15px);
        margin:15px;

        .content{
          margin: 30px;
        }
      }

      .right.content{
        width: 700px;
        float: left;
        margin-left: 100px;
        .work{

        }
        .work.about{
          margin-top: 40px;
          .item{
            margin-top: 15px;
          }
        }
      }
    }
  }
}