@import 'base/mixins';

.page-i3{
  .page-web-work-list{
    .header{

    }
    .content.web.work{
      .left.content{
        float: left;
        width:300px;
        height:500px;
        border:solid 15px black;
        @include border-radius(15px);
        margin:15px;

        .work.about{
          
        }
      }

      .right.content{
        float: left;
        margin-left: 100px;
        .work{

        }
        .work.about{
          margin-top: 40px;
          .item{
            margin-top: 15px;
          }
        }
      }
    }
  }
}