:ruby
  id = params[:id] ? params[:id].to_i : 1
  @note = Note.find(id)
  entry = @note.entry

= page_top_bar @note.title, '/e2'

.page-item-show.page-e3
  .entry
    .link= link_to "来自词条：#{@note.entry.title}", '/b3'

  .content= @note.content
