:ruby
  id = params[:id] ? params[:id].to_i : 1
  @note = Note.find(id)

.page-item-show.page-e2
  .page-notebook-show
    .header
      %h1= @note.entry.title
    .content
      .entry
        .desc= @note.desc
        .link= link_to "词条: #{@note.entry.title}", '/b3'
