
.content
  / Wiki content
  %p
    Created Monday 28 January 2013
    %br/
  %p
    EduShare 教学资源库系统(以下简称本系统), 主要目的在于为从事一线教学工作的老师, 正式注册参与培训的学生和对免费在线教育资源有迫切需求的公众, 提供的教学资源管理/利用/分享的综合解决方案. 本系统的主要功能特色包括: 针对教务繁多不易平衡的问题, 提供轻量的教学日程提醒模块减轻老师的任务协调压力; 针对日常教学目标, 提供简洁的教学方案管理模块, 减轻老师繁复的归档压力; 针对日常的课后答疑场景, 设计社会化问答模块, 促成更高效的师生互动; 针对教学成果不易复用的问题, 提供学生常见疑惑自动归档模块, 实现教学成果的沉淀; 针对教学质量改进的需求, 提供在学生学习过程记录模块, 自动而完整地记录学习的过程, 为教学质量改进收集科学依据. 针对学生日益依赖移动设备获取信息的状况, 提供轻量的移动应用, 帮助学生充分利用碎片时间自主学习; 针对公众对高质量教学资源的迫切需求, 提供社会化分享模块, 方便广泛传播, 以便触及各大论坛和社交网络. 这些具体而实用的功能模块, 将在各类使用者的通力协作促成活跃的信息分享社区, 并在更长的时间里, 促进信息生态系统的演化.
    %br/
  %p
  %ul
    %li
      %a.page{:href => "./01/01.html", :title => "+01-教学工作台"} +01-教学工作台
    %li
      %a.page{:href => "./01/02.html", :title => "+02-教学方案录入"} +02-教学方案录入
    %li
      %a.page{:href => "./01/03.html", :title => "+03-Office文档的在线即时处理"} +03-Office文档的在线即时处理
    %li
      %a.page{:href => "./01/04.html", :title => "+04-多媒体课件的在线即时播放"} +04-多媒体课件的在线即时播放
    %li
      %a.page{:href => "./01/05.html", :title => "+05-作业完成度的图形化展现"} +05-作业完成度的图形化展现
    %li
      %a.page{:href => "./01/06.html", :title => "+06-师生问答互动"} +06-师生问答互动
    %li
      %a.page{:href => "./01/07.html", :title => "+07-教学贡献度统计"} +07-教学贡献度统计
    %li
      %a.page{:href => "./01/08.html", :title => "+08-教学资源利用率的可视化展现"} +08-教学资源利用率的可视化展现
    %li
      %a.page{:href => "./01/09.html", :title => "+09-杂项功能"} +09-杂项功能
