:ruby
  id = params[:id] ? params[:id].to_i : 1
  @notebook = Notebook.find(id)
  @notes = Note.all

.page-item-list.page-e2
  .page-notebook-show
    .header
      %h1= @notebook.title
    .content
      .desc= @notebook.desc
      .notes
        - @notes.each_with_index do |nihao, index|
          - id = index + 1
          .list-item.notebook
            .title=link_to "笔记:#{nihao.entry.title}", "/e3?id=#{id}"
