:ruby
  @notebook = Notebook.find(1)
  @notes = Note.all

= page_top_bar @notebook.title, '/e1'

.page-item-list.page-e2
  .page-notebook-show
    .notes
      - @notes.each_with_index do |nihao, index|
        - id = index + 1
        .list-item.note
          .title=link_to "#{nihao.entry.title}", "/e3?id=#{id}"