!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title EduShare Mobile App DEMO
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body.mobile
    .page-content
      = yield

    = yield :javascript